@font-face {
  font-family: "yellowtail";
  src: url("https://use.typekit.net/af/c431ea/00000000000000007735a180/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/c431ea/00000000000000007735a180/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/c431ea/00000000000000007735a180/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}
@font-face {
  font-family: "raleway";
  src: url("../fonts/Raleway-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 1 999;
}
h1, h2, h3, h4, h5 {
  font-family: "yellowtail", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
}

p {
  font-family: "raleway", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 68px;
}

h2 {
  font-size: 30px;
  margin-bottom: 1rem;
}

.intro-slider .welcome-text-container {
  position: absolute;
  bottom: -50px;
  left: 50%;
  z-index: 999;
  transform: translateX(-50%);
}
.intro-slider .welcome-text-container p {
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
}
.intro-slider .welcome-text-container img {
  width: 100%;
  min-width: 95vw;
}
@media (min-width: 900px) {
  .intro-slider .welcome-text-container img {
    min-width: 825px;
  }
}
.intro-slider .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #f4f3f1;
  background: linear-gradient(180deg, rgba(244, 243, 241, 0) 0%, rgba(244, 243, 241, 0) 50%, #f4f3f1 100%);
  top: 5px;
  left: 0;
  z-index: 99;
}
.intro-slider .slick-list,
.intro-slider .slick-track {
  height: calc(100vh - 181px - 50px);
  min-height: 500px;
}
.intro-slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.intro-slider .slick-slide:nth-child(2) img {
  object-position: 80% 50%;
}
.intro-slider .slick-slide:nth-child(3) img {
  object-position: 50% 35%;
}
.intro-slider .slick-slide:nth-child(4) img {
  object-position: 50% 60%;
}
.intro-slider .slick-slide:nth-child(5) img {
  object-position: 50% 40%;
}
.intro-slider .slick-slide:nth-child(6) img {
  object-position: 50% 70%;
}
.intro-slider .slick-slide:nth-child(7) img {
  object-position: 50% 50%;
}
.intro-slider .slick-slide:nth-child(8) img {
  object-position: 50% 50%;
}
.intro-slider .slick-slide:nth-child(9) img {
  object-position: 50% 90%;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #f4f3f1;
  font-family: "raleway", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

a {
  -webkit-tap-highlight-color: transparent;
}

ul {
  list-style-type: "- ";
}
ul li {
  margin-bottom: 1rem;
}
ul li ul {
  padding-left: 15px;
}
ul li ul li {
  list-style-type: none;
}

.coming-soon {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 100vh;
  min-height: 500px;
  width: 100vw;
  background: url("../img/dots-bg.png");
  z-index: 999999;
}
.coming-soon img {
  width: 100%;
  max-width: 500px;
}
.coming-soon h1 {
  font-family: "yellowtail", Helvetica, Arial, sans-serif;
  font-size: 14vw;
  font-weight: 400;
  margin: 1rem 0;
}
@media (min-width: 500px) {
  .coming-soon h1 {
    font-size: 70px;
  }
}

header {
  padding: 0.75rem 0.5rem;
  background-image: url("../img/bg-img.svg");
  background-size: 65px;
}
header .navbar {
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  position: relative;
}
header .navbar::after {
  content: "";
  margin: 0px auto 0px 0px;
  visibility: hidden;
  padding: 5px;
  flex: 0 1 250px;
}
header .navbar .logo {
  margin-right: auto;
  flex: 0 1 250px;
}
header .navbar .logo img {
  width: 100%;
}
header .navbar .links {
  flex: 0 0 auto;
  margin: 0 1rem;
}
header .navbar .links a {
  color: #000;
  text-decoration: none;
}

.frame {
  max-width: 1920px;
  margin: 0 auto;
}

.down-arrow {
  position: relative;
  margin-bottom: 18rem;
}
.down-arrow a {
  position: absolute;
  top: 60px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font: normal 400 20px/1 "Josefin Sans", sans-serif;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
  padding-top: 70px;
}
.down-arrow a span {
  position: absolute;
  top: 20px;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-left: -12px;
  border-left: 1.5px solid #000;
  border-bottom: 1.5px solid #000;
  transform: rotate(-45deg);
  animation: sdb05 2s infinite;
  box-sizing: border-box;
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  30% {
    opacity: 1;
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 1;
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

#about {
  margin: 5rem 0;
  padding: 2rem 1rem;
}
#about .section-header {
  text-align: center;
}
#about .section-header h1 {
  margin-bottom: 1rem;
}
#about .grid-section-1 {
  padding: 3rem 0;
}
#about .grid-section-1 .grid-row {
  max-width: 1140px;
  gap: 1rem;
}
#about .grid-section-1 .grid-col:last-child {
  padding: 0;
}
@media (min-width: 1000px) {
  #about .grid-section-1 .grid-col:first-child {
    max-width: 350px;
    justify-self: end;
  }
}
#about .grid-row {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}
@media (min-width: 1000px) {
  #about .grid-row {
    grid-template-columns: 1fr 1fr;
  }
}
#about .grid-col {
  position: relative;
  padding: 3rem 4rem;
}
#about .grid-col img {
  width: 100%;
  border-radius: 5px;
}
