@import "partials/font-face";
@import "partials/slick-slider";
@import "partials/mobile-nav";
@import "partials/menu-modal";

* { 
    margin: 0; 
    padding: 0; 
    border: 0; 
}

body {
    background-color: #f4f3f1;
    font-family: $text-font;
    font-size: 16px;
    color: #000;
}

a {
    -webkit-tap-highlight-color: transparent;
}

ul {
    list-style-type: "- ";
    li {
        margin-bottom: 1rem;
        ul {
            padding-left: 15px;
            li {
                list-style-type: none;
            }
        }
    }
}

.coming-soon {
    position: fixed;
    top: 0;
    left: 0;
    // display: flex;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: 100vh;
    min-height: 500px;
    width: 100vw;
    background: url('../img/dots-bg.png');
    z-index: 999999;
    img {
        width: 100%;
        max-width: 500px;
    }
    h1 {
        font-family: $heading-font;
        font-size: 14vw;
        @media (min-width: 500px) {
            font-size: 70px;
        }
        font-weight: 400;
        margin: 1rem 0;
    }
}

header {
    padding: 0.75rem 0.5rem;
    background-image: url('../img/bg-img.svg');
    background-size: 65px 131%;
    background-repeat: repeat;
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100vw;
    .navbar {
        padding: 0;
        margin: 0 auto;
        display: none;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        position: relative;
        @media (min-width: 725px) {
            display: flex;
        }
        &::after {
            content:"";
            margin: 0px auto 0px 0px;
            visibility: hidden;
            padding: 5px;
            flex: 0 1 250px;
        }
        .logo {
            margin-right: auto;
            flex: 0 1 250px;
            img {
                width: 100%;
            }
        }
        .links {
            flex: 0 0 auto;
            margin: 0 1rem;
            a {
                color: #000;
                text-decoration: none;
                margin-right: 1rem;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

.frame {
    max-width: 1920px;
    margin: 0 auto;
}

.down-arrow { 
    position: relative;
    margin-bottom: 18rem;
    a {
        position: absolute;
        top: 60px;
        left: 50%;
        z-index: 2;
        display: inline-block;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        color: #fff;
        font : normal 400 20px/1 'Josefin Sans', sans-serif;
        letter-spacing: .1em;
        text-decoration: none;
        transition: opacity .3s;
        padding-top: 70px;
      
      &:hover > span {
        // animation: sdb05 1.5s infinite;
      }
      span {
        position: absolute;
        top: 20px;
        left: 50%;
        width: 40px;
        height: 40px;
        margin-left: -12px;
        border-left: 1.5px solid #000;
        border-bottom: 1.5px solid #000;
        transform: rotate(-45deg);
        animation: sdb05 2s infinite;
        box-sizing: border-box;
      }
    }
    @keyframes sdb05 {
        0% {
        transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
        }
        30% {
            opacity: 1;
            transform: rotate(-45deg) translate(-10px, 10px);
        }
        50% {
            opacity: 1;
        }
        70% {
            opacity: 1;
            transform: rotate(-45deg) translate(-10px, 10px);
        }
        100% {
        transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
        }
    }   
}

.section-header {
    text-align: center;
    h1 {
        margin-bottom: 1rem;
    }
}

#about {
    margin: 5rem 0;
    padding: 2rem 1rem;
    .grid-container {
        padding: 3rem 0;
    }
    .grid-section {
        
        .grid-row {
            max-width: 1140px;
            gap: 1rem;
        }
    
        .grid-col:last-child {
            padding: 0;
        }
    
        .grid-col:first-child {
            @media (min-width: 1000px) {
                max-width: 350px;
                justify-self: center;
            }
        }
    }
    .grid-section-2 {
        @media (min-width: 1000px) {
            .grid-col:first-child {
                grid-column: 2;
                grid-row: 1;
            }
            .grid-col:last-child {
                grid-column: 1;
                grid-row: 1;
            }
        }
    }
    .grid-row {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
    
        @media(min-width: 1000px) {
            grid-template-columns: 1fr 1fr;
        }
    }
    .grid-col {
        position: relative;
        padding: 3rem 4rem;
    
        img {
            width: 100%;
            border-radius: 5px;
            max-height: 421.5px;
            max-width: 700px;
            object-fit: cover;
        }
    }
}