@import "partials/font-face";

*  
    { 
    margin: 0; 
    padding: 0; 
    border: 0; 
}

body {
    background-color: #f4f3f1;
    font-family: $text-font;
}

.coming-soon {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    // display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: 100vh;
    min-height: 500px;
    width: 100vw;
    background: url('../img/dots-bg.png');
    z-index: 999;
    img {
        width: 100%;
        max-width: 500px;
    }
    h1 {
        font-family: $heading-font;
        font-size: 14vw;
        @media (min-width: 500px) {
            font-size: 70px;
        }
        font-weight: 400;
        margin: 1rem 0;
    }
}

header {
    .navbar {
        .logo {
            height: 50px;
            width: 50px;
            img {
                width: 100%;
            }
        }
    }
}